**Parsing-Web-Search-Queries**

Create sets of Queries for each unique URL

Data 

https://drive.google.com/file/d/1A5sn66Ms3OtEIu_5PFrjnoTyujXGT98E/view?usp=share_link

Explanation Data / Meta Data

https://www.michael-noll.com/blog/2006/08/07/aol-research-publishes-500k-user-queries/

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 25.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=3b2114f46f97f1170a3aac62d31b9222b7532254dc23f1e6c644d558940e628f
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Semyon').getOrCreate()

Link to data file:

https://drive.google.com/file/d/1A5sn66Ms3OtEIu_5PFrjnoTyujXGT98E/view?usp=share_link

In [ ]:
#read file
df = spark.read.load("/content/drive/MyDrive/BigData2023/user-ct-test-collection-01.csv",format='csv', sep='\t',inferSchema='true',header='true')

In [ ]:
#Exlplore rare data frame

In [ ]:
df.printSchema()

root
 |-- AnonID: integer (nullable = true)
 |-- Query: string (nullable = true)
 |-- QueryTime: timestamp (nullable = true)
 |-- ItemRank: integer (nullable = true)
 |-- ClickURL: string (nullable = true)

In [ ]:
df.show()

+------+--------------------+-------------------+--------+--------------------+
|AnonID|               Query|          QueryTime|ItemRank|            ClickURL|
+------+--------------------+-------------------+--------+--------------------+
|   142|      rentdirect.com|2006-03-01 07:17:12|    null|                null|
|   142|www.prescriptionf...|2006-03-12 12:31:06|    null|                null|
|   142|          staple.com|2006-03-17 21:19:29|    null|                null|
|   142|          staple.com|2006-03-17 21:19:45|    null|                null|
|   142|www.newyorklawyer...|2006-03-18 08:02:58|    null|                null|
|   142|www.newyorklawyer...|2006-03-18 08:03:09|    null|                null|
|   142|     westchester.gov|2006-03-20 03:55:57|       1|http://www.westch...|
|   142|       space.comhttp|2006-03-24 20:51:24|    null|                null|
|   142|                dfdf|2006-03-24 22:23:07|    null|                null|
|   142|                dfdf|2006-03-24 22:23:14|    null|                null|
|   142|         vaniqa.comh|2006-03-25 23:27:12|    null|                null|
|   142| www.collegeucla.edu|2006-04-03 21:12:14|    null|                null|
|   142|          www.elaorg|2006-04-03 21:25:20|    null|                null|
|   142|        207 ad2d 530|2006-04-08 01:31:04|    null|                null|
|   142|        207 ad2d 530|2006-04-08 01:31:14|       1|http://www.courts...|
|   142|   broadway.vera.org|2006-04-08 08:38:23|    null|                null|
|   142|   broadway.vera.org|2006-04-08 08:38:31|    null|                null|
|   142|            vera.org|2006-04-08 08:38:42|       1| http://www.vera.org|
|   142|   broadway.vera.org|2006-04-08 08:39:30|    null|                null|
|   142|    frankmellace.com|2006-04-09 02:19:24|    null|                null|
+------+--------------------+-------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.describe().show()

+-------+-----------------+-----------+------------------+--------------------+
|summary|           AnonID|      Query|          ItemRank|            ClickURL|
+-------+-----------------+-----------+------------------+--------------------+
|  count|          3558411|    3558411|           1890568|             1890568|
|   mean|6870203.703630356|        NaN| 6.717900123137596|                null|
| stddev|5949049.219939173|        NaN|19.422603197433624|                null|
|    min|              142|          &|                 0|ftp://ftp.etext.o...|
|    max|         24969374|üíûçôñó ñùü|               500|https://zeus.he.n...|
+-------+-----------------+-----------+------------------+--------------------+

In [ ]:
df.columns

['AnonID', 'Query', 'QueryTime', 'ItemRank', 'ClickURL']

In [ ]:
#summary of explorer process:
#3.56 milions rows
#5 coloums
#rows include null
#some coloums include duplicate data

In [ ]:
#drop unnecesary colums

In [ ]:
newdf = df.drop('QueryTime','ItemRank')

In [ ]:
newdf.columns

['AnonID', 'Query', 'ClickURL']

In [ ]:
newdf.show()

+------+--------------------+--------------------+
|AnonID|               Query|            ClickURL|
+------+--------------------+--------------------+
|   142|      rentdirect.com|                null|
|   142|www.prescriptionf...|                null|
|   142|          staple.com|                null|
|   142|          staple.com|                null|
|   142|www.newyorklawyer...|                null|
|   142|www.newyorklawyer...|                null|
|   142|     westchester.gov|http://www.westch...|
|   142|       space.comhttp|                null|
|   142|                dfdf|                null|
|   142|                dfdf|                null|
|   142|         vaniqa.comh|                null|
|   142| www.collegeucla.edu|                null|
|   142|          www.elaorg|                null|
|   142|        207 ad2d 530|                null|
|   142|        207 ad2d 530|http://www.courts...|
|   142|   broadway.vera.org|                null|
|   142|   broadway.vera.org|                null|
|   142|            vera.org| http://www.vera.org|
|   142|   broadway.vera.org|                null|
|   142|    frankmellace.com|                null|
+------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#drop null rows in data frame

In [ ]:
findf = newdf.na.drop()

In [ ]:
findf.show()

+------+--------------------+--------------------+
|AnonID|               Query|            ClickURL|
+------+--------------------+--------------------+
|   142|     westchester.gov|http://www.westch...|
|   142|        207 ad2d 530|http://www.courts...|
|   142|            vera.org| http://www.vera.org|
|   217|             lottery|http://www.calott...|
|   217|             lottery|http://www.calott...|
|   217|      ameriprise.com|http://www.amerip...|
|   217|          mizuno.com|http://www.mizuno...|
|   217|asiansexygoddess.com|http://www.asians...|
|   217|bestasiancompany.com|http://www.bestas...|
|   217|             lottery|http://www.calott...|
|   217|             lottery|http://www.calott...|
|   217|             ask.com|  http://www.ask.com|
|   217|                   -|http://www.theone...|
|   993|    chasebadkids.net|http://www.chaseb...|
|  1268|ozark horse blankets|http://www.blanke...|
|  1268|osteen-schatzberg...|http://www.osteen...|
|  1268|osteen-schatzberg...|http://www.osteen...|
|  1268|          gallstones|http://www.niddk....|
|  1326|the child's wonde...|http://www.wonder...|
|  1326|holiday mansion h...|http://www.everyb...|
+------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
findf.describe().show()

+-------+-----------------+--------+--------------------+
|summary|           AnonID|   Query|            ClickURL|
+-------+-----------------+--------+--------------------+
|  count|          1890568| 1890568|             1890568|
|   mean|6259673.164788571|Infinity|                null|
| stddev|5605872.209522132|     NaN|                null|
|    min|              142|&hearts;|ftp://ftp.etext.o...|
|    max|         24969374|zzsounds|https://zeus.he.n...|
+-------+-----------------+--------+--------------------+

In [ ]:
#after dropping null rows we have data frame with 1.9 million rows
#now we have to handle duplicates rows

In [ ]:
finaldf = findf.dropDuplicates(['Query', 'ClickURL'])

In [ ]:
finaldf.show(20)

+------+--------------------+--------------------+
|AnonID|               Query|            ClickURL|
+------+--------------------+--------------------+
|  2722|       preteen party|http://www.inbyte...|
|  2722|       preteen party|http://www.kidcra...|
|  3302|small cordless cu...|http://www.nextag...|
|  3302|           phlebitis|http://www.emedic...|
|  3769|        ussenate.gov|http://www.senate...|
|  5818|        queen mary 2|http://www.cunard...|
|  7548|    dvd 20duplicator| http://uksimple.net|
|  8041|jimmy carter and ...|http://www.global...|
|  8041| nathaniel hawthorne|http://members.ao...|
| 10291|the odd couple br...|http://www.broadw...|
| 11468|online fiduciary ...|http://www.gatewa...|
| 13373|      lisa mcpherson|http://www.lisamc...|
| 13508|        actuary exam|http://www.actuar...|
| 15565|american indian h...|http://www.crafts...|
| 22179|              slingo|http://www.gamezo...|
| 22748|            clip art|http://www.clip-a...|
| 23100|     pasta con sarde|http://foodgeeks.com|
| 23988|       quadrupalites|http://www.myspac...|
| 24687|       yahoomail.com|http://marylou289...|
| 24745|namco plug and pl...|http://1416.csy34...|
+------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
finaldf.describe().show()

+-------+-----------------+--------+--------------------+
|summary|           AnonID|   Query|            ClickURL|
+-------+-----------------+--------+--------------------+
|  count|          1211341| 1211341|             1211341|
|   mean|6008174.676441234|Infinity|                null|
| stddev|5452342.080540622|     NaN|                null|
|    min|              142|&hearts;|ftp://ftp.etext.o...|
|    max|         24969374|zzsounds|https://zeus.he.n...|
+-------+-----------------+--------+--------------------+

In [ ]:
finaldf.printSchema()

root
 |-- AnonID: integer (nullable = true)
 |-- Query: string (nullable = true)
 |-- ClickURL: string (nullable = true)

In [ ]:
# some tests to see into the data frame

In [ ]:
result = finaldf.filter(findf['AnonID'] == 142).show()

+------+---------------+--------------------+
|AnonID|          Query|            ClickURL|
+------+---------------+--------------------+
|   142|       vera.org| http://www.vera.org|
|   142|westchester.gov|http://www.westch...|
|   142|   207 ad2d 530|http://www.courts...|
+------+---------------+--------------------+

In [ ]:
#now let explore ClickUrl data
#for that reason we create temporary data frame and
#drop duplicates url rows

In [ ]:
urldf = finaldf.dropDuplicates(['ClickURL'])

In [ ]:
urldf.show()

+--------+--------------------+--------------------+
|  AnonID|               Query|            ClickURL|
+--------+--------------------+--------------------+
|  317966|my mother inlaws ...|ftp://ftp.etext.o...|
| 1268323|conver farenheit ...|ftp://ftp.lispwor...|
| 3477756|gun laws in wake ...|http:// crime.abo...|
| 1648239|     sewing material|http:// frugalliv...|
|15057624|why do i have asy...|http:// goofy-gir...|
| 1901270|interourse positi...|http:// www.merid...|
| 3163556|              gleece|http:// www.musec...|
| 7895862|             chaefin|http://---soclich...|
| 6912017|                 kol|http://-kol.devia...|
| 2848525|    balnce transfers|            http://0|
| 3896945|university of mic...|http://0-casl.umd...|
|11358331|legal forms for j...|http://0-family.f...|
| 5671139|     bombshell babes|http://0-in.group...|
| 1970679|child support in ...|http://0-profs.lp...|
| 2210500|jarhead book cont...|http://0-writ.new...|
|11710093|behaviors of hors...|http://0-www.bioo...|
| 9676789|news broadcasts 2...|http://0-www.bls....|
|13272136|       haworth press|http://0-www.hawo...|
|  945971|       creek indians|http://0-www.loc....|
| 3058504|i have diarrhea a...|http://0-www.nlm....|
+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
urldf.describe().show()

+-------+-----------------+--------------------+--------------------+
|summary|           AnonID|               Query|            ClickURL|
+-------+-----------------+--------------------+--------------------+
|  count|           377870|              377870|              377870|
|   mean|5720795.268433589|            Infinity|                null|
| stddev|5371156.796250555|                 NaN|                null|
|    min|              142|&quot;free porno&...|ftp://ftp.etext.o...|
|    max|         24967317|      zzhi ho silver|https://zeus.he.n...|
+-------+-----------------+--------------------+--------------------+

In [ ]:
#we have 377870 unique URL

In [ ]:
#now let explore Query data
#for that reason we create temporary data frame and
#drop duplicates Query rows

In [ ]:
quldf = finaldf.dropDuplicates(['Query'])

In [ ]:
quldf.show()

+--------+--------------------+--------------------+
|  AnonID|               Query|            ClickURL|
+--------+--------------------+--------------------+
| 6553736|&hearts; falling ...|http://www.myprof...|
| 5790732|' johnstown tribu...|http://www.tribun...|
| 1755613| ' washington kansas|http://www.washin...|
| 9895456|''fall out boylyr...|http://www.lyrics...|
|18031526|''i can't help it...|http://www.movies...|
| 1675156|''once upon a dec...|http://www.stlyri...|
|  425484|''smith sisters m...|http://www.snopes...|
| 1675156|''somewhere over ...|http://www.brave.com|
| 9370946|      '69 chevy nova|http://www.carnut...|
| 7012478|    '90's r&b lyrics|http://www.allthe...|
| 1463099|'automobile insur...|http://www.insura...|
| 6638143|'baby baby bring ...|http://www.dapsly...|
| 1463099|     'bassett hound'|http://www.yourpu...|
| 1161739|        'boss tweed'|http://www.albany...|
| 1463099|'bowie high schoo...|http://www.greats...|
| 2399334|'constant compani...|http://www.hotstu...|
| 9078858|         'denver co'|http://www.denver...|
| 6844831|      'dog training'|http://www.101-do...|
| 6458100|'don't forget abo...|http://www.hotlyr...|
| 4120098|  'ellis brenner cpa|http://www.superp...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
quldf.describe().show()

+-------+-----------------+--------+--------------------+
|summary|           AnonID|   Query|            ClickURL|
+-------+-----------------+--------+--------------------+
|  count|           594589|  594589|              594589|
|   mean|6192580.183237497|Infinity|                null|
| stddev|5551705.065814174|     NaN|                null|
|    min|              142|&hearts;|ftp://ftp.etext.o...|
|    max|         24969374|zzsounds|https://yosemite....|
+-------+-----------------+--------+--------------------+

In [ ]:
#we have 594589 unique Query

In [ ]:
finaldf.sort('ClickURL').show()

+--------+--------------------+--------------------+
|  AnonID|               Query|            ClickURL|
+--------+--------------------+--------------------+
|  317966|my mother inlaws ...|ftp://ftp.etext.o...|
| 1268323|conver farenheit ...|ftp://ftp.lispwor...|
| 2465036|the cast of poseidon|             http://|
| 4148210|   harry potter cast|             http://|
| 3477756|gun laws in wake ...|http:// crime.abo...|
| 7580166|south carolina cr...|http:// crime.abo...|
| 1648239|     sewing material|http:// frugalliv...|
|15057624|why do i have asy...|http:// goofy-gir...|
| 6164419|bed and breakfast...|http:// www.bedan...|
| 6164419|irish bed an brea...|http:// www.bedan...|
| 1901270|interourse positi...|http:// www.merid...|
| 3163556|              gleece|http:// www.musec...|
|11984870|hilton head clean...|http:// www.mytra...|
| 1544054|starbucks restaur...|http:// www.mytra...|
| 1300050|      alaska 20ferry|http:// www.trave...|
| 4548146|                   -|http:// www.vrbo.com|
| 7895862|             chaefin|http://---soclich...|
|10659727|           univicion|http://-com-calie...|
| 6912017|                 kol|http://-kol.devia...|
| 8972852|     rent screencaps|http://-rent.grea...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
freqdf = finaldf.groupBy('ClickURL').count()

In [ ]:
freqdf.sort('count',ascending=False).show()

+--------------------+-----+
|            ClickURL|count|
+--------------------+-----+
|http://en.wikiped...| 9938|
|http://www.amazon...| 8178|
| http://www.imdb.com| 6730|
|http://www.geocit...| 3037|
|http://www.bizrat...| 2676|
|http://www.tripad...| 2515|
|http://profile.my...| 2407|
| http://cgi.ebay.com| 2343|
|http://www.answer...| 2309|
|http://www.nextag...| 2285|
|http://shopping.m...| 1896|
|   http://www.tv.com| 1733|
|http://www.superp...| 1681|
|http://www.angelf...| 1603|
|http://travel.yah...| 1576|
|http://dir.yahoo.com| 1496|
|http://www.findar...| 1485|
|http://www.city-d...| 1482|
|http://www.epinio...| 1421|
|http://www.sing36...| 1398|
+--------------------+-----+
only showing top 20 rows

In [ ]:
freqdf.describe().show()

+-------+--------------------+------------------+
|summary|            ClickURL|             count|
+-------+--------------------+------------------+
|  count|              377870|            377870|
|   mean|                null|3.2057083123825656|
| stddev|                null|30.768868338310735|
|    min|ftp://ftp.etext.o...|                 1|
|    max|https://zeus.he.n...|              9938|
+-------+--------------------+------------------+

In [ ]:
#explore frequency of url

In [ ]:
freqgrbydf = freqdf.groupBy('count').count()

In [ ]:
freqgrbydf.sort('count',ascending=True).show()

+-----+------+
|count| count|
+-----+------+
|    1|249694|
|    2| 54444|
|    3| 22727|
|    4| 12422|
|    5|  7913|
|    6|  5218|
|    7|  3798|
|    8|  2932|
|    9|  2289|
|   10|  1836|
|   11|  1476|
|   12|  1215|
|   13|  1047|
|   14|   884|
|   15|   747|
|   16|   695|
|   17|   593|
|   18|   523|
|   19|   482|
|   20|   426|
+-----+------+
only showing top 20 rows

In [ ]:
freqdf.printSchema()

root
 |-- ClickURL: string (nullable = true)
 |-- count: long (nullable = false)

In [ ]:
reduce_freqdf = freqdf.where('count < 10')

In [ ]:
reduce_freqdf.sort('count',ascending=False).show()

+--------------------+-----+
|            ClickURL|count|
+--------------------+-----+
|http://rosite.en....|    9|
|http://www.rssauc...|    9|
|http://www.family...|    9|
|http://www.rscc.c...|    9|
|http://www.xbox-s...|    9|
| http://www.cyss.org|    9|
|http://weddings.l...|    9|
| http://www.rudd.com|    9|
|http://au.answers...|    9|
|http://www.latina...|    9|
|http://www.ci.ran...|    9|
|http://www.donswo...|    9|
|http://www.univer...|    9|
|http://www.cathol...|    9|
| http://www.taxi.com|    9|
|http://longisland...|    9|
|http://www.botany...|    9|
|http://www.bronxz...|    9|
|http://www.tracka...|    9|
|http://www.danceh...|    9|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_freqdf.describe().show()

+-------+--------------------+------------------+
|summary|            ClickURL|             count|
+-------+--------------------+------------------+
|  count|              361437|            361437|
|   mean|                null|1.7097502469310004|
| stddev|                null| 1.449149291448675|
|    min|ftp://ftp.etext.o...|                 1|
|    max|https://zeus.he.n...|                 9|
+-------+--------------------+------------------+

In [ ]:
newdf = finaldf.join(reduce_freqdf,['ClickURL'],'leftanti')

In [ ]:
newdf.show()

+--------------------+--------+--------------------+
|            ClickURL|  AnonID|               Query|
+--------------------+--------+--------------------+
|http://123-baby-n...| 3954631|   meaning of tanaya|
|http://123-baby-n...| 3254007|      baby boy names|
|http://123-baby-n...|  471426|filipino baby gir...|
|http://123-baby-n...| 5876265|    baby girls names|
|http://123-baby-n...|23317283|meaning of jayla ...|
|http://123-baby-n...| 7273463|       name meanings|
|http://123-baby-n...|  471426|     baby girl names|
|http://123-baby-n...| 2530372|      baby names.com|
|http://123-baby-n...|  447315|          baby names|
|http://123-baby-n...| 9016154|           names.com|
|http://123-baby-n...|16335807| the meaning of fire|
|http://123-baby-n...| 5231713|           babynames|
|http://1stholisti...|  731913|defensiveness rel...|
|http://1stholisti...| 2867750|prayer for forgiv...|
|http://1stholisti...|   76931|easter treats for...|
|http://1stholisti...| 4237758|simple carbohydrates|
|http://1stholisti...| 1016497|   natural cosmetics|
|http://1stholisti...|  843043| prayer for the sick|
|http://1stholisti...| 2734672|wal mart ocean na...|
|http://1stholisti...|  883580|www.markbrandenbu...|
+--------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
newdf.describe().show()

+-------+--------------------+-----------------+--------------------+
|summary|            ClickURL|           AnonID|               Query|
+-------+--------------------+-----------------+--------------------+
|  count|              593374|           593374|              593374|
|   mean|                null|5911759.766585661|7.009694387721236E15|
| stddev|                null|5415369.567241093|8.197948293694032E16|
|    min|http://1.myfreebu...|              142|            &hearts;|
|    max|https://www.sears...|         24969374|            zzsounds|
+-------+--------------------+-----------------+--------------------+

In [ ]:
newdf_gr = newdf.groupBy('ClickURL').count()

In [ ]:
newdf_gr.sort('count',ascending=True).show()

+--------------------+-----+
|            ClickURL|count|
+--------------------+-----+
|http://blogs.sun.com|   10|
|http://cws.intern...|   10|
|http://boards.mod...|   10|
|http://ajp.psychi...|   10|
|http://boggleswor...|   10|
|http://209.157.64...|   10|
|http://bronx.area...|   10|
|http://aol.career...|   10|
|http://brooklynny...|   10|
|http://auctionfir...|   10|
|http://browse.bar...|   10|
|http://autos.grou...|   10|
|http://cagle.msnb...|   10|
|http://bestest.in.ua|   10|
|     http://ccsd.net|   10|
|http://cla.calpol...|   10|
|http://customwhee...|   10|
|http://classics.m...|   10|
|http://arpa.allen...|   10|
|http://coins.sear...|   10|
+--------------------+-----+
only showing top 20 rows

In [ ]:
query_gr_by = newdf.groupBy('Query').count()

In [ ]:
query_gr_by.sort('count',ascending=False).show()

+--------------------+-----+
|               Query|count|
+--------------------+-----+
|                   -| 5799|
|       sexy swimwear|  130|
|          horoscopes|   63|
| natural busty women|   60|
|           camel toe|   60|
|            swimwear|   59|
|porn old women ha...|   56|
|         beastiality|   56|
|          nude girls|   55|
| sexy women swimwear|   51|
| donnie mcclurkin cd|   49|
|      sheer swimwear|   48|
|   cabinets for cd's|   47|
|    donnie mcclurkin|   46|
|us air force figh...|   44|
|           teens sex|   44|
|         naked girls|   42|
|          mother sex|   42|
|             myspace|   42|
|          sexy women|   41|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_newdf = newdf.where(newdf.Query !='-')

In [ ]:
query_gr_by1 = query_gr_by.groupBy('count').count()

In [ ]:
query_gr_by1.sort('count',ascending=True).show()

+-----+------+
|count| count|
+-----+------+
|    1|239795|
|    2| 66373|
|    3| 25224|
|    4| 11040|
|    5|  5461|
|    6|  2976|
|    7|  1657|
|    8|  1076|
|    9|   648|
|   10|   432|
|   11|   281|
|   12|   225|
|   13|   174|
|   14|   136|
|   15|    92|
|   16|    46|
|   17|    55|
|   18|    48|
|   19|    40|
|   20|    25|
+-----+------+
only showing top 20 rows

In [ ]:
reduce_newdf.show()

+--------------------+--------+--------------------+
|            ClickURL|  AnonID|               Query|
+--------------------+--------+--------------------+
|http://123-baby-n...| 3954631|   meaning of tanaya|
|http://123-baby-n...| 3254007|      baby boy names|
|http://123-baby-n...|  471426|filipino baby gir...|
|http://123-baby-n...| 5876265|    baby girls names|
|http://123-baby-n...|23317283|meaning of jayla ...|
|http://123-baby-n...| 7273463|       name meanings|
|http://123-baby-n...|  471426|     baby girl names|
|http://123-baby-n...| 2530372|      baby names.com|
|http://123-baby-n...|  447315|          baby names|
|http://123-baby-n...| 9016154|           names.com|
|http://123-baby-n...|16335807| the meaning of fire|
|http://123-baby-n...| 5231713|           babynames|
|http://1stholisti...|  731913|defensiveness rel...|
|http://1stholisti...| 2867750|prayer for forgiv...|
|http://1stholisti...|   76931|easter treats for...|
|http://1stholisti...| 4237758|simple carbohydrates|
|http://1stholisti...| 1016497|   natural cosmetics|
|http://1stholisti...|  843043| prayer for the sick|
|http://1stholisti...| 2734672|wal mart ocean na...|
|http://1stholisti...|  883580|www.markbrandenbu...|
+--------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
id_gr_by8 = reduce_newdf.groupBy('AnonID').count()

In [ ]:
id_gr_by8.sort('count',ascending=False).show()

+-------+-----+
| AnonID|count|
+-------+-----+
| 843043| 1049|
|  91602|  977|
|1750999|  842|
| 377137|  796|
| 118401|  678|
|1890315|  676|
|2814361|  671|
|2846780|  636|
| 949253|  545|
| 929313|  541|
| 576123|  536|
|3233989|  521|
|3571966|  515|
| 966721|  509|
| 186465|  502|
|2416053|  486|
| 436161|  479|
|  39509|  459|
| 239836|  459|
| 553197|  456|
+-------+-----+
only showing top 20 rows

In [ ]:
query_gr_by4 = reduce_newdf.groupBy('Query').count()

In [ ]:
query_gr_by4.sort('count',ascending=False).show()

+--------------------+-----+
|               Query|count|
+--------------------+-----+
|       sexy swimwear|  130|
|          horoscopes|   63|
|           camel toe|   60|
| natural busty women|   60|
|            swimwear|   59|
|porn old women ha...|   56|
|         beastiality|   56|
|          nude girls|   55|
| sexy women swimwear|   51|
| donnie mcclurkin cd|   49|
|      sheer swimwear|   48|
|   cabinets for cd's|   47|
|    donnie mcclurkin|   46|
|           teens sex|   44|
|us air force figh...|   44|
|         naked girls|   42|
|             myspace|   42|
|          mother sex|   42|
|          sexy women|   41|
|                 sex|   39|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_query_df = query_gr_by4.where('count < 10')

In [ ]:
reduce_query_df.sort('count',ascending=False).show()

+--------------------+-----+
|               Query|count|
+--------------------+-----+
|free live cams of...|    9|
|        hypoglycemia|    9|
|     symptoms of pku|    9|
|         catfighting|    9|
|        easter bread|    9|
|           ertha kit|    9|
|      v for vendetta|    9|
|follicle stimulat...|    9|
|           dana hamm|    9|
|         dirty jokes|    9|
|2000 mustang 16 c...|    9|
|         asian girls|    9|
|margate new jerse...|    9|
|           beta fish|    9|
|jones beach long ...|    9|
|free criminal rec...|    9|
|1964 chevelle tru...|    9|
|  pregnancy calendar|    9|
|   tony moll packers|    9|
|    vital statistics|    9|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_query_df.describe().show()

+-------+--------------------+------------------+
|summary|               Query|             count|
+-------+--------------------+------------------+
|  count|              354250|            354250|
|   mean|8.631772417448897E15|1.5908906139731829|
| stddev|9.096519030829472E16|1.1377493891473633|
|    min|            &hearts;|                 1|
|    max|            zzsounds|                 9|
+-------+--------------------+------------------+

In [ ]:
reduce_newdf.describe().show()

+-------+--------------------+-----------------+--------------------+
|summary|            ClickURL|           AnonID|               Query|
+-------+--------------------+-----------------+--------------------+
|  count|              587575|           587575|              587575|
|   mean|                null|5915998.611515126|7.009694387721236E15|
| stddev|                null|5408986.549569618|8.197948293694032E16|
|    min|http://1.myfreebu...|              142|            &hearts;|
|    max|https://www.sears...|         24969374|            zzsounds|
+-------+--------------------+-----------------+--------------------+

In [ ]:
reduce_newdf.show()

+--------------------+--------+--------------------+
|            ClickURL|  AnonID|               Query|
+--------------------+--------+--------------------+
|http://123-baby-n...| 3954631|   meaning of tanaya|
|http://123-baby-n...| 3254007|      baby boy names|
|http://123-baby-n...|  471426|filipino baby gir...|
|http://123-baby-n...| 5876265|    baby girls names|
|http://123-baby-n...|23317283|meaning of jayla ...|
|http://123-baby-n...| 7273463|       name meanings|
|http://123-baby-n...|  471426|     baby girl names|
|http://123-baby-n...| 2530372|      baby names.com|
|http://123-baby-n...|  447315|          baby names|
|http://123-baby-n...| 9016154|           names.com|
|http://123-baby-n...|16335807| the meaning of fire|
|http://123-baby-n...| 5231713|           babynames|
|http://1stholisti...|  731913|defensiveness rel...|
|http://1stholisti...| 2867750|prayer for forgiv...|
|http://1stholisti...|   76931|easter treats for...|
|http://1stholisti...| 4237758|simple carbohydrates|
|http://1stholisti...| 1016497|   natural cosmetics|
|http://1stholisti...|  843043| prayer for the sick|
|http://1stholisti...| 2734672|wal mart ocean na...|
|http://1stholisti...|  883580|www.markbrandenbu...|
+--------------------+--------+--------------------+
only showing top 20 rows

In [ ]:
reduce_Q_And_URL_df = reduce_newdf.join(reduce_query_df,['Query'],'leftanti')

In [ ]:
reduce_freqdf.show()

+--------------------+-----+
|            ClickURL|count|
+--------------------+-----+
|http://www.maah-d...|    3|
|http://www.diamon...|    3|
|http://www.eroden...|    2|
|http://www.thecit...|    6|
|http://www.celebr...|    3|
|http://www.gayont...|    8|
|http://www.ohiohi...|    9|
|  http://www.cctc.ca|    1|
|http://www.scps.k...|    8|
|http://www.steveb...|    2|
|http://www.savage...|    1|
|http://www.tropic...|    2|
|http://www.advent...|    1|
|http://www.reming...|    4|
|http://www.pregna...|    7|
|http://www.rabour...|    1|
|http://www.baseme...|    4|
|http://www.addieh...|    1|
|http://www.simvia...|    7|
|http://nongae.gsn...|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_query_df.show()

+--------------------+-----+
|               Query|count|
+--------------------+-----+
|metaphor lesson plan|    6|
|        jeep history|    1|
|   eaden pure heater|    3|
|nickelback chords...|    1|
|     hotsausagepizza|    1|
|               izzie|    1|
|gay lesbian cruis...|    2|
|britney spears re...|    6|
|    abc good morning|    1|
|   russian blue cats|    2|
|willaim rowan ham...|    1|
|      wwgateway com.|    2|
|spoilers for all ...|    2|
|jesse mccartney h...|    1|
|peanut butter coo...|    5|
|        rice recipes|    1|
|religious symbols...|    1|
|relationships and...|    1|
|adult book stores...|    1|
|sbc help resident...|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
reduce_Q_And_URL_df.sort('ClickURL').show()

+--------------------+--------------------+--------+
|               Query|            ClickURL|  AnonID|
+--------------------+--------------------+--------+
|            cock.com|http://1.myfreebu...|  124220|
|       sucking girls|http://1.myfreebu...| 8178598|
|free topless fili...|http://1.myfreebu...|   68355|
|          beastality|http://1.myfreebu...| 2411742|
|       granny thumbs|http://1.myfreebu...|10316621|
|dads fucking ther...|http://1.myfreebu...|10244168|
|             bontril|http://1.myfreebu...| 9472743|
|       free web cams|http://1.myfreebu...| 5808557|
|         phentermine|http://1.myfreebu...| 2240301|
|          mother sex|http://1.myfreebu...| 7850394|
|free pics underag...|http://1.myfreebu...| 9351876|
|            porn.com|http://1.myfreebu...| 2900747|
|pharmacies with n...|http://1.myfreebu...| 9472743|
|          animal sex|http://1.myfreebu...| 6925721|
|          baby names|http://123-baby-n...|  447315|
|       name meanings|http://123-baby-n...| 7273463|
|         mothers day|http://123greetin...|  544176|
|graduation party ...|http://123greetin...|  761849|
|        mother's day|http://123greetin...| 9339942|
|free birthday e-c...|http://123greetin...| 5735272|
+--------------------+--------------------+--------+
only showing top 20 rows

In [ ]:
reduce_Q_And_URL_df.describe().show()

+-------+--------------------+--------------------+------------------+
|summary|               Query|            ClickURL|            AnonID|
+-------+--------------------+--------------------+------------------+
|  count|               24002|               24002|             24002|
|   mean|                null|                null| 5248769.234147155|
| stddev|                null|                null|4997295.3717906065|
|    min|100 top rock n ro...|http://1.myfreebu...|               217|
|    max|         zena fulsom|https://www.hertz...|          24897122|
+-------+--------------------+--------------------+------------------+

In [ ]:
query_gr_by5 = reduce_Q_And_URL_df.groupBy('Query').count()

In [ ]:
query_gr_by5.sort('count',ascending=False).show()

+--------------------+-----+
|               Query|count|
+--------------------+-----+
|       sexy swimwear|  130|
|          horoscopes|   63|
| natural busty women|   60|
|           camel toe|   60|
|            swimwear|   59|
|porn old women ha...|   56|
|         beastiality|   56|
|          nude girls|   55|
| sexy women swimwear|   51|
| donnie mcclurkin cd|   49|
|      sheer swimwear|   48|
|   cabinets for cd's|   47|
|    donnie mcclurkin|   46|
|           teens sex|   44|
|us air force figh...|   44|
|             myspace|   42|
|         naked girls|   42|
|          mother sex|   42|
|          sexy women|   41|
|       mature blonde|   39|
+--------------------+-----+
only showing top 20 rows

In [ ]:
query_gr_by6 = reduce_Q_And_URL_df.groupBy('ClickURL').count()

In [ ]:
query_gr_by6.sort('count',ascending=False).show()

+--------------------+-----+
|            ClickURL|count|
+--------------------+-----+
|http://www.amazon...|  215|
|http://en.wikiped...|  215|
| http://www.imdb.com|  152|
|http://www.bizrat...|   91|
|http://www.nextag...|   84|
|http://www.answer...|   77|
|http://shopping.m...|   73|
|http://www.geocit...|   71|
|http://www.flickr...|   67|
|http://h1.ripway.com|   65|
|http://www.wannab...|   65|
| http://cgi.ebay.com|   60|
|    http://mujweb.cz|   58|
|http://www.republ...|   56|
|http://mywebpage....|   55|
|http://dir.yahoo.com|   54|
|http://www.findar...|   54|
|   http://www.tv.com|   46|
|     http://dmoz.org|   45|
|http://www.starpu...|   44|
+--------------------+-----+
only showing top 20 rows

In [ ]:
q_df = reduce_Q_And_URL_df.dropDuplicates(['Query'])

In [ ]:
q_df.describe().show()

+-------+--------------------+--------------------+-----------------+
|summary|               Query|            ClickURL|           AnonID|
+-------+--------------------+--------------------+-----------------+
|  count|                1708|                1708|             1708|
|   mean|                null|                null|5445574.616510538|
| stddev|                null|                null|5004901.495788964|
|    min|100 top rock n ro...|http://123-baby-n...|             8763|
|    max|         zena fulsom|http://www.webmd.com|         24715903|
+-------+--------------------+--------------------+-----------------+

In [ ]:
u_df = reduce_Q_And_URL_df.dropDuplicates(['ClickURL'])

In [ ]:
u_df.describe().show()

+-------+--------------------+--------------------+-----------------+
|summary|               Query|            ClickURL|           AnonID|
+-------+--------------------+--------------------+-----------------+
|  count|                7587|                7587|             7587|
|   mean|                null|                null|5175612.193225253|
| stddev|                null|                null|4917207.957981521|
|    min|100 top rock n ro...|http://1.myfreebu...|             2005|
|    max|       zebo pitbulls|https://www.hertz...|         24830167|
+-------+--------------------+--------------------+-----------------+

In [ ]:
reduce_Q_And_URL_df.sort('ClickURL').show()

+--------------------+--------------------+--------+
|               Query|            ClickURL|  AnonID|
+--------------------+--------------------+--------+
|            cock.com|http://1.myfreebu...|  124220|
|       sucking girls|http://1.myfreebu...| 8178598|
|free topless fili...|http://1.myfreebu...|   68355|
|          beastality|http://1.myfreebu...| 2411742|
|       granny thumbs|http://1.myfreebu...|10316621|
|dads fucking ther...|http://1.myfreebu...|10244168|
|             bontril|http://1.myfreebu...| 9472743|
|       free web cams|http://1.myfreebu...| 5808557|
|         phentermine|http://1.myfreebu...| 2240301|
|          mother sex|http://1.myfreebu...| 7850394|
|free pics underag...|http://1.myfreebu...| 9351876|
|            porn.com|http://1.myfreebu...| 2900747|
|pharmacies with n...|http://1.myfreebu...| 9472743|
|          animal sex|http://1.myfreebu...| 6925721|
|          baby names|http://123-baby-n...|  447315|
|       name meanings|http://123-baby-n...| 7273463|
|         mothers day|http://123greetin...|  544176|
|graduation party ...|http://123greetin...|  761849|
|        mother's day|http://123greetin...| 9339942|
|free birthday e-c...|http://123greetin...| 5735272|
+--------------------+--------------------+--------+
only showing top 20 rows

In [ ]:
#we need to transform Query to set for each unique URL

In [ ]:
#df_for_model = reduce_Q_And_URL_df.groupby("ClickURL").agg(F.collect_set("Query"),F.collect_set("AnonID"))

In [ ]:
df_for_model2 = reduce_Q_And_URL_df.groupby("ClickURL").agg(F.collect_set("Query"))

In [ ]:
df_for_model2.show()

+--------------------+--------------------+
|            ClickURL|  collect_set(Query)|
+--------------------+--------------------+
|http://1.myfreebu...|[sucking girls, b...|
|http://123-baby-n...|[baby names, name...|
|http://123greetin...|[graduation party...|
|http://1stholisti...|[easter treats fo...|
|http://209.157.64...|[long island plan...|
|     http://20six.de| [prom updos, updos]|
|http://360.yahoo.com|[www.letstalkhone...|
|     http://3d2f.com|[free adult games...|
|http://42explore.com|[100 top rock n r...|
|http://4wheeldriv...|         [1979 jeep]|
| http://50.lycos.com|  [tattoo of sharks]|
| http://64.41.125.45|   [tommysbookmarks]|
| http://67.18.47.148|[picture of myth ...|
|http://aa.usno.na...|            [easter]|
|http://abbys-sexu...|[sex positions, p...|
|   http://abc.go.com|[judas, stacy kei...|
|http://abclocal.g...|[genovese 32, chr...|
|http://abcnews.co...|[free treasure ma...|
|http://abcnews.go...|[news, dollar sto...|
|http://abes-celeb...|[heather locklear...|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df_for_model.show()

+--------------------+--------------------+--------------------+
|            ClickURL|  collect_set(Query)| collect_set(AnonID)|
+--------------------+--------------------+--------------------+
|http://1.myfreebu...|[sucking girls, b...|[9351876, 2900747...|
|http://123-baby-n...|[baby names, name...|   [7273463, 447315]|
|http://123greetin...|[graduation party...|[761849, 5735272,...|
|http://1stholisti...|[easter treats fo...|             [76931]|
|http://209.157.64...|[long island plan...|           [8892654]|
|     http://20six.de| [prom updos, updos]|  [6403158, 6982324]|
|http://360.yahoo.com|[www.letstalkhone...|           [1018256]|
|     http://3d2f.com|[free adult games...|           [1209670]|
|http://42explore.com|[100 top rock n r...|           [7334666]|
|http://4wheeldriv...|         [1979 jeep]|           [1754469]|
| http://50.lycos.com|  [tattoo of sharks]|          [17536861]|
| http://64.41.125.45|   [tommysbookmarks]|          [10379280]|
| http://67.18.47.148|[picture of myth ...|  [6484106, 1016497]|
|http://aa.usno.na...|            [easter]|           [1368157]|
|http://abbys-sexu...|[sex positions, p...|  [16637764, 966721]|
|   http://abc.go.com|[judas, stacy kei...|[2323994, 1158301...|
|http://abclocal.g...|[genovese 32, chr...|[6609799, 4036668...|
|http://abcnews.co...|[free treasure ma...|[164816, 4847618,...|
|http://abcnews.go...|[news, dollar sto...|[1411102, 975975,...|
|http://abes-celeb...|[heather locklear...|  [11271169, 148248]|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
set_Query = df_for_model.select("collect_set(Query)")

In [ ]:
print(type(set_Query))

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
set_Query.show()

+--------------------+
|  collect_set(Query)|
+--------------------+
|[sucking girls, b...|
|[baby names, name...|
|[graduation party...|
|[easter treats fo...|
|[long island plan...|
| [prom updos, updos]|
|[www.letstalkhone...|
|[free adult games...|
|[100 top rock n r...|
|         [1979 jeep]|
|  [tattoo of sharks]|
|   [tommysbookmarks]|
|[picture of myth ...|
|            [easter]|
|[sex positions, p...|
|[judas, stacy kei...|
|[genovese 32, chr...|
|[free treasure ma...|
|[news, dollar sto...|
|[heather locklear...|
+--------------------+
only showing top 20 rows

In [ ]:
set_Query.printSchema()

root
 |-- collect_set(Query): array (nullable = false)
 |    |-- element: string (containsNull = false)

In [ ]:
df_for_model.describe().show()

+-------+--------------------+
|summary|            ClickURL|
+-------+--------------------+
|  count|                7587|
|   mean|                null|
| stddev|                null|
|    min|http://1.myfreebu...|
|    max|https://www.hertz...|
+-------+--------------------+

In [ ]:
from pyspark.sql.functions import col, concat_ws

In [ ]:
set_Query5 = set_Query.withColumn("collect_set(Query)",concat_ws(",",col("collect_set(Query)")))

In [ ]:
set_Query5.printSchema()

root
 |-- collect_set(Query): string (nullable = false)

In [ ]:
set_Query5.show()

+--------------------+
|  collect_set(Query)|
+--------------------+
|sucking girls,bea...|
|baby names,name m...|
|graduation party ...|
|easter treats for...|
|long island plant...|
|    prom updos,updos|
|www.letstalkhones...|
| free adult games pc|
|100 top rock n ro...|
|           1979 jeep|
|    tattoo of sharks|
|     tommysbookmarks|
|picture of myth g...|
|              easter|
|sex positions,pub...|
|judas,stacy keibl...|
|genovese 32,chris...|
|free treasure map...|
|news,dollar store...|
|heather locklear,...|
+--------------------+
only showing top 20 rows

In [ ]:
#write set of Querys to csv
set_Query5.write.csv("set_Query")

link for set_Query file

https://drive.google.com/file/d/1MU1Gtdmb5oSX9U17NpN3Ju7QjthCWEU5/view?usp=share_link